.low{
    text-align: center;
    font-size: x-large;
}
.low:hover{
    position: relative;
    top: 3mm;
    color: chartreuse;
    font-weight: bolder;
}
input:focus{
    font-weight:bolder;
    color: blue;
    font-size: 16px;
}
li:hover{
    color: blue;
    font-size: large;
}



h1::after{
    content: " only";
}

.low::after{
content: "''";
}

h3{
    text-align: center;
    font-size: xx-large;
    text-shadow: 3mm;
    color: brown;
}
a{
    font-size: x-large;
   text-align: center;
}
img{
    height: 10%;
    width: 10%;
    position: relative;
    left: 40%;
}


div{
    font-size: larger;
    border: 2px solid darkviolet;
    padding: 2mm;
    height: fit-content;
    width: fit-content;
    margin: 2mm;
    display: inline-block;
}